<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>Welcome to homepage {{obj}}</h1>
    <form action="add/" method="get">
        Enter 1st number:<input type="text" name="num1" placeholder="number1"> <br>
        Enter 2nd number:<input type="text" name="num2" placeholder="number2"> <br>
        <button type="RESULT" name="RESULT">RESULT</button>
    </form>
</body>
</html>